/text.txt
/test2bool.py
/test1.py
/spiski.py
/poems.txt
/my.py
/metody_strok.py
/lightparcer.py
/f-stroki.py
/bg.py
/if-elif-match_case.py
/yaparserv2.py
/вложенные циклы.py
/list_влож_списки.py
/match_case.py
/ListComprehension_генераторыСписков.py
/tuple_кортеж.py
/dict_slovari.py
/dict_slovar2.py
/import.py
/set_множества.py
/dict_генерсловар.py
/for_range.py
/speedtestcli.py
/enumerate.py
/imgtitext.py
/def.py
/while.py
/speedtestCLI.py
/def_return.py
/docsrings.py
/file_text.py
/args_kwargs.py
/recursion.py
/lambda.py
/sort_sorted.py
/muz/LordsOfSummer.mp3
/ЗамыканияClosure.py
/decorator.py
/newpack/file1.py
/newpack/file2.py
/newpack/__init__.py
/import_modules.py
/files/my_file_write.txt
/files/
/OOP/
/async/
/.venv/
